@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* .accordion-content {
  display: none;
}

.accordion-button {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.accordion-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-top: solid 15px #fff;
  border-left: solid 15px #fff;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
}

.accordion-button.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

#profile {
  display: flex;
  justify-content: space-between;
}
*/

p {
    font-size: 15px;
}

/* TOP */
/* header */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 25px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

a.top-page img {
    width: 130px;
}

#profile {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#profile p {
    margin: 0;
}

.accordion-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

.accordion-content li {
    list-style: none;
    border-bottom: 1px solid #eee;
}

.accordion-content li a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #888;
    padding: 10px;
}

.accordion-content li a:hover {
    background-color: #186AC9;
    color: #fff;
}

.accordion {
    padding: 2%;
    text-align: center;
}

.accordion-button {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    display: inline-block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
    /* margin: auto; */
    cursor: pointer;
}

.accordion-button.open {
    transform: rotate(135deg);
}

.accordion-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    width: 307px;
    box-sizing: border-box;
    transform: translate(25px, 25px);
}

.accordion-menu.open {
    display: block;
}

/* side bar */
.ff-container {
    display: flex;
}

.top-container {
    margin: 3rem 0rem 3rem 8rem;
    display: flex;
    /* align-items: stretch; */
}

Form {
    display: flex;
}

.top-container img {
    width: 50px;
    align-self: flex-start;
}

.top-container input {
    width: 50vw;
    padding-bottom: 70px;
    margin: 1rem 1rem;
    border: 0;
}

.post-button {
    border: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.post-button img {
    width: 50px;
}

/* 投稿リスト */
li {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}



.search-container {
    margin: 3rem 0rem 3rem 5rem;
}

.search-button {
    border: 0;
    padding: 0;
}

.search-button img {
    width: 50px;
}

.search-container input {
    width: 20vw;
    padding: 1rem;
}

/* モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
