@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* .accordion-content {
  display: none;
}

.accordion-button {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.accordion-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-top: solid 15px #fff;
  border-left: solid 15px #fff;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
}

.accordion-button.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

#profile {
  display: flex;
  justify-content: space-between;
}
*/

p {
    font-size: 15px;
}

/* TOP */
/* header */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 25px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

a.top-page img {
    width: 130px;
}

#profile {
    font-size: 25px;
}

.accordion-content {
    width: 19%;
    height: 19%;
    position: absolute;
    top: 19%;
    right: 0;
}

li .accordion {
    padding: 2%;
}

/* side bar */
.ff-container {
    display: flex;
}

.top-container {
    margin: 3rem 0rem 3rem 8rem;
}

.top-container img {
    width: 50px;
}

.top-container input {
    width: 50vw;
    padding-bottom: 70px;
    margin: 0 1rem;
    border: 0;
}

.post-button {
    border: 0;
    padding: 0;
}

.post-button img {
    width: 50px;
}
